@media (min-width: 1024px) {

  #burger{
    display: none;

  }
  header{
    z-index: 10;

    padding: 20px 90px 0;
  }

  .logo{
    width: 246px;
    height: 32px;
    margin-left: -40px;
  }

  nav {
    display: block;
    margin-right:
  }

  nav ul li {
    display: inline-block;

    padding-left: 30px;
  }
  nav ul li a {
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #000000;

    font-family: "Geometria", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  h1{
    font-family: "EB Garamond", serif;

    font-size: 90px;
    font-weight: 400;
    line-height: 100px;
    padding-bottom: 14px;
  }

  p{
    font-family: "Geometria", sans-serif;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;

  }

  .What-is-it{
   text-align: left;
   margin-left: 39px;
   }

   .What-is-it h1{
     font-family: "EB Garamond", serif;

     font-size: 90px;
     font-weight: 400;
     line-height: 107px;
   }

   .main-image img{
     width: 1024px;
     margin-top: -350px;
   }

   .What-about-it{
     margin-top: -200px;
     margin-left: 600px;
     margin-bottom: 112px;
     text-align: right;

   }

   .What-about-it-inner{

     width: 364px;
     text-align: left;

   }


    .is-principles{

    }
   .principles-wrapper{
     display: flex;

     justify-content: space-between;
     align-items: baseline;
     margin-left: -200px;


   }
   .principles-wrapper article{
     text-align: left;
     padding: 60px 60px;



   }

   .simple{
     width: 241px;




   }

  .no-caesure{
    width: 241px;

  }

  .interesting{
    width: 241px;

  }


  .principles-wrapper p{

    font-family: "Geometria",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

   }

  .principles-wrapper h3{
    font-family: "Geometria",sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;


   }


  .is-read-and-write{
    text-align: center;
    margin-top: 100px;
  }

  .is-read-and-write img{
    width: 1024px;
  }
  .is-read-and-write-inner h1{
    font-family: "EB Garamond",serif;
    font-size: 70px;
    line-height: 80px;
    font-weight: 400;

  }
  .is-read-and-write-inner {
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 50px;



  }

  .footer{
    margin-top: 150px;
  }

  .footer-menu{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 150px;

  }

  
  .footer-in-footer{
    display: flex;
    flex-direction: column;

  }
  .social-networks{
    width: 400px;
  }

  .downloads{
    width: 250px;
  }



}

}
